<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
---- Include the above in your HEAD tag ---------->

<!--<section>
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Charlie Online Food System</h1>
        <p class="lead">We prefer Quality over quantity</p>
      </div>
    </div>

    <hr />
    <div class="row mbr-justify-content-center">
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-volume-up fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
              Stay <span>Successful</span>
            </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">
              We are Successful if our customers are satisfied.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-calendar fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
              <span>An Effective Team</span>
            </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">
              This brings our full potential to the customer service
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-globe fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
              Humble
            </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">
              Being humble and rational all the times is our goal
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-trophy fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
              Achieve <span>Our Targets</span>
            </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">
              By provding best services we achieve our targets
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<div >
    <!-- <main role="main" style="padding-top: 70px;">

     
</main> -->
<main style="padding-top: 100px;">

  <div class="custom-heading"><h1>Need More Than Just Filing? TaxBuddy’s Got You Covered</h1></div>
      <div class="container marketing">
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-square" src="../../../assets/images/tax1.jpg" alt="Generic placeholder image" width="140" height="140">
            <h4>Personalized ITR Filing Support</h4>
            <p>Whether you’re a salaried employee, NRI, freelancer, or capital gains investor — our expert-assisted ITR filing ensures accurate, AI-backed e-filing tailored to your tax situation.</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>
          <div class="col-lg-4">
            <img class="rounded-square" src="../../../assets/images/seller.jpg" alt="Generic placeholder image" width="140" height="140">
            <h4>TDS on Property Sale</h4>
            <p>Selling real estate? We handle your TDS compliance under Section 194-IA and file Form 26QB correctly through our secure e-tax filing services — no hassle, no delay.</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>
          <div class="col-lg-4">
            <img class="rounded-square" src="../../../assets/images/tax2.jpg" alt="Generic placeholder image" width="140" height="140">
            <h4>Legal Review for Personal Finance</h4>
            <p>Need HRA validation, rent agreement help, or investment proof prep? Our team ensures your documents meet tax standards for seamless income tax e filing.</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-4">
            <img class="rounded-square" src="../../../assets/images/tax.jpg" alt="Generic placeholder image" width="140" height="140">
            <h4>End-to-End Tax Filing for Businesses</h4>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>
          <div class="col-lg-4">
            <img class="rounded-square" src="../../../assets/images/registration.jpg" alt="Generic placeholder image" width="140" height="140">
            <h4>Business Registrations Made Easy</h4>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>
          <div class="col-lg-4">
            <img class="rounded-square" src="../../../assets/images/product.jpg" alt="Generic placeholder image" width="140" height="140">
            <h4>Trademarks & DSC Assistance</h4>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Expert-Assisted Income Tax eFiling Services</h2>
            <p class="lead">Get personalized help from our in-house professionals. Whether you're filing as a salaried employee, freelancer, or managing a business, our team ensures 100% accuracy and maximum savings—backed by one of India’s most trusted online e-tax filing platforms.</p>
          </div>
          <div class="col-md-5">
            <!-- <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Timely, Hassle-Free ITR Filing</h2>
            <p class="lead">Stay ahead of deadlines with AI-powered reminders and automated updates. Our system ensures smooth, compliant Income Tax Return Filing — always on time.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <!-- <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-5">
            <h2 class="featurette-heading">Secure Online ITR Filing Platform</h2>
            <p class="lead">Your data is safe with us. TaxBuddy’s secure e-tax filing services use advanced encryption to keep your personal and financial information private.</p>
          </div>
          <div class="col-md-5 ">
            <!-- <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Seamless Filing with Smart Tools</h2>
            <p class="lead">Upload Form 16, review Form 26AS, and auto-import income details using our integrated income tax filing tool. Our online incometax filing services cover everything from salary to capital gains and house property.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <!-- <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
          </div>
        </div>

        <hr class="featurette-divider">

      </div>

      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </main>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>

</div>
